<div class="{{ css_classes }} cp-language-dropup">
	<ul class="drop-up-side menu align-right" data-dropup-menu>
		<li class="{{language.css_classes }} cp-current-language">
			<a href="#" class="{{ css_classes_link }}">
				<i class="icon-left-open show-for-medium"></i> {{ current_language_code }} <i class="icon-up-open hide-for-medium"></i>
			</a>
			<ul class="submenu">

				{% for code, language in languages %}
					<li class="{{ language.css_classes }} cp-lenguage-switcher-item">
				        <a href="{{ language.url }}" class="{{ css_classes_link }}">
							{{ language.code }}
				        </a>
				    </li>
			    {% endfor %}
			</ul>
		</li>
	</ul>
</div>